@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
       @if (User.IsInRole("Teacher"))
       {<li><a href="/Course/Index/">Lärarlista</a></li>}
       @*@if (User.IsInRole("Student"))
       {<li><a href="/Course/Index/">Lärarlista</a></li>}*@
       
            <li>
                @Html.ActionLink(" " + User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Inställningar", @class = "glyphicon glyphicon-user LMS-login-text" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Logga ut</a></li>
       
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
    </ul>
}
