@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ett fel har uppstått";
}

<h1 class="text-danger">Ett fel har uppstått</h1>
<h2 class="text-danger">Ett fel uppstod när vi försökte nå sidan.</h2>

